body{
    margin: 0%;
    text-align: center;
}
.Beige{
    position: relative;
    display: inline-block;
    background-color:rgb(229, 186, 115);
    width: 200px;
    height: 200px;
}
.Teal{
    position: relative;
    display: inline-block;
    background-color:rgb(98, 182, 183);
    width: 200px;
    height: 200px;  
}
.Purple{
    background-color: rgb(129, 12, 168);
    position: relative;
    display: inline-block;
    width: 200px;
    height: 200px;  
}
.main-container{
    border: 5px solid black ;
    border-radius: 5px;
    margin: 10px 10px 10px 10px;
}

.font-division{
    display: inline;
    font-size: large;
}
/*Divsion 1 font*/
.font-heading-1{
    font-family: 'Lato', sans-serif;
    text-decoration: underline;
}
.div1{
    display: inline-block;
    text-align: left;
    margin-left: 20px;
    float: left;
}
.div1-font-light{
    font-family: 'Lato', sans-serif;
    font-weight: 100;
}
.div1-font-medium{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
.div1-font-bold{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}


/*division 2 fonts*/
.font-heading-2{
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: underline;
}
.div2{
    display: inline-block;
    text-align: left;
    margin-left: 20px;
}
.div2-font-light{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 100;
}

.div2-font-medium{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
}
.div2-font-bold{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}

/*Divsion 3 fonts*/
.font-heading-3{
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: underline;
}
.div3{
    display: inline-block;
    text-align: right;
    margin-right: 40px;
    float: right;
}
.div3-font-light{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 100;
}
.div3-font-medium{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}
.div3-font-bold{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
}
.div3-font-list{
    text-align: left;
}